<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Trionix</title>
    <link rel="stylesheet" type="text/css" href="./static/style/reset.css">
    <link rel="stylesheet" type="text/css" href="./static/style/main.css">
    <link rel="manifest" href="../jspwa.webmanifest" />
    <script type="text/javascript" src="./static/js/roslib.min.js" ></script>
    <script type="text/javascript" src="./static/js/joy.js"></script>    
    <!-- <script type="text/javascript" src="./static/js/galary.js"></script> -->
  </head>
  <body>
    <div class="container1">
      <img id="videoImage" src="http://192.168.1.100:8090/?action=stream" >
    </div>
    
    <div id="rotate">Поверните устройство!</div>

    <div class="black_page_base" id="black_page"></div>
    
    <div class="container buttons">
      <div class="hamburger-menu">
        
        <input id="menu__toggle" type="checkbox" />
        <label class="menu__btn" for="menu__toggle">
          <span></span>
        </label>
    
        <ul class="menu__box" id="menu__box">
          <li><a class="menu__item"  id="main_screen" href="#">Управление</a></li>
          <li><a class="menu__item"  id="settings_screen" href="#">Настройки</a></li>
        </ul>
      </div>

      <button type="flashlight" class="button btn-flashlight" id="flashlight" name="flashlight"></button>
      <button type="mode" class="button btn-mode" id="mode" name="mode"></button>
      <!-- <button type="photo" class="button btn-photo" id="photo" name="photo"></button> -->
      <button type="fullscreen" class="button btn-fullscreen" id="fullscreen" name="fullscreen"></button>
      

      <div id="heading" class="heading-class">Курс: ---</div>
      
      <div id="settings" class="settings_block">
        <h2 class="blockname">Настройки портов</h2>
        <div class="settings_grid" id="settings_grid">
          
        </div>
        <div class="setting_buttons">
          <button class="settings_upload button_set" id="settings_upload"> Обновить </button>
          <button class="settings_save button_set" id="settings_save"> Сохранить </button>
        </div>
        
        
      </div>

      <div class="photo_galary" id="photo_galary">
        <h2 class="blockname">Галерея</h2>

        <div id="photos" class="photo-grid"></div>

        <div id="modal" class="modal">
          <span class="close" onclick="closeModal()">&times;</span>
          <img class="modal-content" id="modal-image">
          <a class="prev" onclick="showPrev()">&#10094;</a>
          <a class="next" onclick="showNext()">&#10095;</a>
        </div>

        <button onclick="load_p()" class="load-button button_set">Загрузить</button>
      </div>

      <div class="name">TRIONIX_BAG</div>
      <div id="joy_screen">
        <div id="joyDivLeft" class="joy_left"></div>
        <div id="joyDivRight" class="joy_rigth"></div>
      </div>
    </div>

    <script type="text/javascript" src="./static/js/fullscreen.js" ></script>
    <!-- <script type="module" src="./static/js/main_g.js"></script> -->

    <script type="module" src="./static/js/main.js"></script>
    <!-- <script type="text/javascript" src="./static/js/IMU.js"></script> -->
    </body>
</html>