<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Trionix</title>
    <link rel="icon" type="image/x-icon" href="./static/img/Icon.svg">
    <link rel="stylesheet" type="text/css" href="./static/style/reset.css">
    <link rel="stylesheet" type="text/css" href="./static/style/main.css">
    <script type="text/javascript" src="./static/js/roslib.min.js" ></script>
    <script type="text/javascript" src="./static/js/joy.js"></script>    
    <script type="text/javascript" src="./static/js/galary.js"></script>

    <script src="static/js/adaptiveWeb.js" defer></script>

  </head>
  <body>
    <div class="container1">
      <img id="videoImage" src="http://192.168.1.100:8090/?action=stream" crossorigin="anonymous" >
      <!-- <video id="videoImage" autoplay></video> -->
      <!-- <video id="video-player" autoplay></video> -->
      <!-- <canvas id="videoCanvas" class="video_stream"> -->
    </div>
    
    <div id="rotate">Поверните устройство!</div>

    <div class="black_page_base" id="black_page"></div>
    
    <div id="mapElement">
      <div align="center" style="height: 100%;">
        <iframe width="100%" height="100%" src="PWA and MAP/www/index.html"></iframe>
      </div>
    </div>

    <div id="configELement">
      <div align="center" style="height: 100%;">
        <iframe width="100%" height="100%" src="PWA and WEB CONFIG/www/index.html"></iframe>
      </div>
    </div>

    <div id="speedElement" style="display: none; position: absolute; z-index: 8; width: 100%; height: 100%;">
      <div align="center" style="height: 100%;">
        <div>
          G_MAX_FORWARD_BACKWARD <input id="G_MAX_FORWARD_BACKWARD"/>
        </div>
        <div>
          G_MAX_UP_DOWN <input id="G_MAX_UP_DOWN"/>
        </div>
        <div>
          G_MAX_ANGULAR <input id="G_MAX_ANGULAR"/>
        </div>
      </div>
    </div>

    <div class="container buttons">
      <div class="hamburger-menu">
        
        <input id="menu__toggle" type="checkbox" />
        <!-- <div class="black_page"></div> -->
        <!-- <div class="black_page_base" id="black_page"></div> -->
        <label class="menu__btn" for="menu__toggle">
          <span></span>
        </label>
    
        <ul class="menu__box" id="menu__box">
          <li><a class="menu__item"  id="main_screen" href="#">Управление</a></li>
          <li><a class="menu__item"  id="map_screen" href="#">Карты</a></li>
          <li><a class="menu__item"  id="galary_screen" href="#">Галерея</a></li>
          <li><a class="menu__item"  id="config_screen" href="#">Найтрока конфигурации PID</a></li>
          <li><a class="menu__item"  id="speed_screen" href="#">Карта скосроти</a></li>
          <li><a class="menu__item"  id="mission_screen" href="#">Автономность</a></li>
          <li><a class="menu__item"  id="settings_screen" href="#">Настройки</a></li>
        </ul>
      </div>

      <!-- <input type="grab" min="1" max="100" value="0" class="btn-grab" id="myRange"> -->
      <!-- <div class="slidecontainer">
        <input type="range" min="1" max="100" value="50" class="btn-grab" id="trionixGrab">
      </div> -->

      <button type="flashlight" class="button btn-flashlight" id="flashlight" name="flashlight"></button>
      <!-- <button type="rec" class="button btn-rec" id="rec" name="rec"></button> -->
      <button type="mode" class="button btn-mode" id="mode" name="mode"></button>
      <button type="photo" class="button btn-photo" id="photo" name="photo"></button>
      <button type="fullscreen" class="button btn-fullscreen" id="fullscreen" name="fullscreen"></button>
      
      <button type="record" class="button btn-record" id="button_record"></button>
      <a id="downloadLink" download="recorded_video.webm" crossorigin="use-credentials"></a>
      
      <div class="pid_control">
        <button type="" class="button btn-pid-down" id="pid_down" name=""></button>
        <button type="" class="button btn-pid-up" id="pid_up" name=""></button>
        <div class="pid_lable">Установка глубины</div>
        <div id="target_depth" class="pid_target_depth"> 0.0 </div>
      </div>      

      <div class="grab">
        <button type="" class="button btn-grab btn-grab_up" id="grab_1" name=""></button>
        <button type="" class="button btn-grab btn-grab_down"  id="grab_2" name=""></button>
      </div>

      <div id="depth" class="depth-class">Глубина: ---</div>
      <div id="pitch" class="pitch-class">Дифферент: ---</div>
      <div id="heading" class="heading-class">Курс: ---</div>

      <!-- <div class="image-bar"></div>
      <div class="image-bar-point"></div> -->
      
      <div class="pid_switch">
        <label class="pid_lable">Удержание глубины</label>
        <div class="buttonss r" id="button-1">
          <input type="checkbox" class="checkbox" id="button-ch"/>
          <div class="knobs"></div>
          <div class="layer"></div>
        </div>
      </div>
      
      <div id="settings" class="settings_block">
        <div align="center">
          <h2 align="center" class="blockname">IP адрес робота</h2>
          <input id="ipRobot" />
        </div>

        <div align="center">
          <h2 align="center" class="blockname">Установить тип робота (ручной режим)</h2>
          <select id="selectCurRobotType">
            <option value="trionix" selected>тип ТРИОНИКС</option>
            <option value="guppy">тип ГУППИ</option>
            <option value="bag">тип Жук</option>
          </select>
        </div>

        <h2 class="blockname">Настройки портов</h2>
        <div class="settings_grid" id="settings_grid">
          
        </div>
        <div class="setting_buttons">
          <button class="settings_upload button_set" id="settings_upload"> Обновить </button>
          <button class="settings_save button_set" id="settings_save"> Сохранить </button>
        </div>
        
      </div>

      <div class="photo_galary" id="photo_galary">
        <h2 class="blockname">Галерея</h2>

        <div id="photos" class="photo-grid"></div>

        <div id="modal" class="modal">
          <span class="close" onclick="closeModal()">&times;</span>
          <img class="modal-content" id="modal-image">
          <a class="prev" onclick="showPrev()">&#10094;</a>
          <a class="next" onclick="showNext()">&#10095;</a>
        </div>

        <button onclick="load_p()" class="load-button button_set">Загрузить</button>
      </div>

      <div class="name">TRIONIX</div>
      <div id="joy_screen">
        <div id="joyDivLeft" class="joy_left"></div>
        <div id="joyDivRight" class="joy_rigth"></div>
      </div>
    </div>

    <script type="text/javascript" src="./static/js/fullscreen.js" ></script>
    <!-- <script type="module" src="./static/js/main_g.js"></script> -->

    <script type="module" src="./static/js/main.js"></script>
    <!-- <script type="text/javascript" src="./static/js/IMU.js"></script> -->
    
    <script>

  </script>
  </body>
</html>
