<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./static/main.css">
    <script type="text/javascript" src="./static/roslib.min.js" ></script>
    <script type="text/javascript" src="./static/gauge.min.js"></script>
    <script type="text/javascript" src="./static/gauge.min.js"></script>
    
    <title>Arctic</title>
</head>
<body>
    <div class="window">
        <div class="container">
            <div class="grid">
                
                <div class="small_block">
                    <div class="obj_block" id="1">
                        <div class="statusbar">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                            
                            <div class="obj_name"> РУ №1</div>
                            <div class="elem_status_led"></div>
                            <button class="element_status"> Старт </button>
                        </div>

                        <div class="type_container disable">
                            <div class="img_stat angle_img">
                                <div class="real_value">0</div>
                            </div>
                            <div class="obj_param">
                                <div class="title_text">Угол (от -360 до 360)</div>
                                
                                <input class="set_value" type="number" value="0" step="10">
                                <button class="confirm_but">Установить</button>

                                <button class="step_minus step_math small_but">-</button>
                                <button class="step_plus step_math small_but">+</button>                                
                                
                                <button class="step_first step_but step_but_active small_but">1</button>
                                <button class="step_second step_but small_but">5</button>
                                <button class="step_third step_but small_but">10</button>

                                <button class="zero_but">Обнулить</button>

                            </div>
                        </div>
                    </div>
                </div>
               
                <div class="obj_block" id="0">                   
                        
                        <div class="main_block">
                            <h1>Система управления судном</h1>
                            <div class="main_bar">
                                <button class="stop_button b_but" id="stop">Остановить</button>
                                <button class="start_button b_but" id="start">Возобновить</button>
                            </div>
                        
                            <div class="file_controle">
                                <h2>Название лог файла</h2>
                                <input class="filenane" type="text" value="Эксперимент_1">
                            </div>
                            <div class="control_panal">
                                <a href="#settings">Настройки</a><!-- <p><input class="abstime" type="checkbox"> Абсолютное время</p> -->
                                <div class="control_block">
                                    <button class="b_but rec record_but">	<img src="./static/img/play-button.png" alt="record"></button>
                                    <button class="b_but rec pause_but"><img src="./static/img/pause.png" alt="record"></button>
                                    <button class="b_but rec stoprec_but rec_active"><img src="./static/img/stop.png" alt="record"></button>
                                </div>
                            </div>
                            <div class="FAQ">
                                <!-- <a href="#settings">Настройки</a> -->
                                <!-- <p><input class="joy_stat" type="checkbox"> Джойстик</p> -->
                                <!-- <a href="./help.html" target="_blank">Помощь</a> -->
                                <!-- <button class="calibration_but" >Калибровка</button> -->
                                
                                <div class="settings" id="settings">
                                    <h1>Настройка Пид регулятора</h1>
                                    <div class="settings_param">
                                        <div class="pid_param">
                                            <input class="kof kp" type="number" step="0.1" min="0">
                                            <p>Kp</p>
                                            <input class="kof ki" type="number" step="0.1" min="0">
                                            <p>Ki</p>
                                            <input class="kof kd" type="number" step="0.1" min="0">
                                            <p>Kd</p>
                                            
                                        </div>
                                        <!-- <div class="calibration_panale">
                                            <select name="steps_obj" id="steps">
                                                <option value="0">РК №1</option>
                                                <option value="1">РК №2</option>
                                                <option value="2">ВРК №1</option>
                                                <option value="3">ВРК №2</option>
                                                <option value="4">ВРК №3</option>
                                            </select>
                                            <button class="step_minus">-</button>
                                            <button class="step_plus">+</button>
                                            
                                        </div> -->
                                        <!-- <button class="confirm_pid" >Применить</button> -->
                                        <button class="calibration_but" >Сохранить</button>
                                        <a href="#" class="close">Закрыть окно</a>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>
                </div>

                <div class="small_block">
                    <div class="obj_block" id="2">
                        <div class="statusbar">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                            
                            <div class="obj_name"> РУ №2</div>
                            <div class="elem_status_led"></div>
                            <button class="element_status"> Старт </button>
                        </div>

                        <div class="type_container disable">
                            <div class="img_stat angle_img">
                                <div class="real_value">0</div>
                            </div>
                            <div class="obj_param">
                                <div class="title_text">Угол (от -360 до 360)</div>
                                
                                <input class="set_value" type="number" value="0" step="10">
                                <button class="confirm_but">Установить</button>

                                <button class="step_minus step_math small_but">-</button>
                                <button class="step_plus step_math small_but">+</button>                                
                                
                                <button class="step_first step_but step_but_active small_but">1</button>
                                <button class="step_second step_but small_but">5</button>
                                <button class="step_third step_but small_but">10</button>

                                <button class="zero_but">Обнулить</button>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="big_block">
                    <div class="obj_block" id="3">
                            <div class="statusbar">
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                                </input>
                                <div class="obj_name"> ДУ №1 </div>
                                <div class="elem_status_led"></div>
                                <button class="element_status"> Старт </button>
                            </div>

                            <div class="type_container disable">
                                <div class="img_stat direction_img">
                                    <div class="direction_text">Направление вращения</div>
                                    <img src="./static/img/Стрелка_12.png" alt="против часовой" class="backward_but dir_but left">
                                    <img src="./static/img/Стрелка_11.png" alt="по часовой" style="background: white; box-shadow: rgb(108 255 243) 0px 0px 5px;" class="forward_but dir_but right">
                                    <div class="real_value rel_val">0</div>
                                    <div class="value_name">об/мин</div>

                                    <!-- <button class="forward_but dir_but small_but">Вперёд</button>
                                    <button class="backward_but dir_but small_but"> Назад</button> -->
                                </div>
                                <div class="obj_param">
                                    <div class="title_text">Обороты (0-2000 об/мин)</div>                                    
                                    
                                    <input class="set_value" type="number" value="0" step="10">
                                    <button class="confirm_but">Установить</button>

                                    <button class="step_minus step_math small_but">-</button>
                                    <button class="step_plus step_math small_but">+</button>
                                    
                                    <button class="step_first step_but small_but step_but_active">10</button>
                                    <button class="step_second step_but small_but">50</button>
                                    <button class="step_third step_but small_but">100</button>
                                    
                                    <div class="real_value rel_val" id="moment">0</div>
                                    <div class="value_name">M</div>
                                    <div class="real_value rel_val" id="force">0</div>
                                    <div class="value_name">F</div>
                                </div>
                            </div>
                    </div>

                    <div class="obj_block" id="6">
                        <div class="big_block">
                                <div class="statusbar">
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                                    
                                    <div class="obj_name"> ВРК №1</div>
                                    <div class="elem_status_led"></div>
                                    <button class="element_status"> Старт </button>
                                </div>

                                <div class="type_container  disable">
                                    <div class="img_stat angle_img_azi">
                                        <div class="real_value" id="real_angle">0</div>
                                    </div>
                                    <div class="obj_param">
                                        <div class="title_text">Угол (от -360 до 360)</div>

                                        <input class="set_value set_angle_value" type="number" value="0" step="10">
                                        <button class="confirm_but confirm_angle_but">Установить</button>

                                        <button class="step_angle_minus step_math small_but">-</button>                                        
                                        <button class="step_angle_plus step_math small_but">+</button>
                                        
                                        <button class="step_angle_first step_but step_1 step_but_active small_but ">1</button>
                                        <button class="step_angle_second step_but step_1 small_but">5</button>
                                        <button class="step_angle_third step_but step_1 small_but">10</button>

                                        <button class="zero_but">Обнулить</button>

                                    </div>
                                </div>
                                <div class="type_container  motor disable">
                                    <div class="img_stat rpm_img direction_img">
                                        <div class="direction_text">Направление вращения</div>
                                        <img src="./static/img/Стрелка_12.png" alt="против часовой" class="backward_but dir_but left">
                                        <img src="./static/img/Стрелка_11.png" alt="по часовой" style="background: white; box-shadow: rgb(108 255 243) 0px 0px 5px;" class="forward_but dir_but right">
                                        <div class="real_value rel_val" id="real_rpm">0</div>
                                        <div class="value_name">об/мин</div>

                                        <!-- <button class="forward_but dir_but small_but">Вперёд</button>
                                        <button class="backward_but dir_but small_but">Назад</button> -->
                                        </div>
                                        
                                        <div class="obj_param">

                                            <div class="title_text">Обороты (0-2000 об/мин)</div>

                                            <input class="set_value set_rpm_value" type="number" value="0" step="10" min="0" max="2100">
                                            <button class="confirm_but confirm_rpm_but">Установить</button>
    
                                            <button class="step_rpm_minus step_math step_mathsmall_but">-</button>
                                            <button class="step_rpm_plus step_math small_but">+</button>
    
                                            <button class="step_rpm_first step_but step_2 step_but_act2 small_but">10</button>
                                            <button class="step_rpm_second step_but step_2 small_but">50</button>
                                            <button class="step_rpm_third step_but step_2 small_but">100</button>
    
                                            <div class="real_value rel_val" id="moment">0</div>
                                            <div class="value_name">M</div>
                                            <div class="real_value rel_val" id="force">0</div>
                                            <div class="value_name">F</div>
                                    </div>
                                </div>
                            </div>
                    </div>                    
                </div>

                <div class="big_block">
                    <div class="obj_block" id="4">
                            <div class="statusbar">
                                <!-- <input type="checkbox" class="element_activation"> -->
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                                </input>
                                <div class="obj_name"> ДУ №2</div>
                                <div class="elem_status_led"></div>
                                <button class="element_status"> Старт </button>
                            </div>

                            <div class="type_container disable">
                                <div class="img_stat direction_img">
                                    <div class="direction_text">Направление вращения</div>
                                    <img src="./static/img/Стрелка_12.png" alt="против часовой" class="backward_but dir_but left">
                                    <img src="./static/img/Стрелка_11.png" alt="по часовой" style="background: white; box-shadow: rgb(108 255 243) 0px 0px 5px;" class="forward_but dir_but right">
                                    <div class="real_value rel_val">0</div>
                                    <div class="value_name">об/мин</div>

                                    <!-- <button class="forward_but dir_but small_but">Вперёд</button>
                                    <button class="backward_but dir_but small_but"> Назад</button> -->
                                </div>
                                <div class="obj_param">
                                    <div class="title_text">Обороты (0-2000 об/мин)</div>                                    
                                    
                                    <input class="set_value" type="number" value="0" step="10">
                                    <button class="confirm_but">Установить</button>

                                    <button class="step_minus step_math small_but">-</button>
                                    <button class="step_plus step_math small_but">+</button>
                                    
                                    <button class="step_first step_but small_but step_but_active">10</button>
                                    <button class="step_second step_but small_but">50</button>
                                    <button class="step_third step_but small_but">100</button>
                                    
                                    <div class="real_value rel_val" id="moment">0</div>
                                    <div class="value_name">M</div>
                                    <div class="real_value rel_val" id="force">0</div>
                                    <div class="value_name">F</div>
                                </div>
                            </div>
                    </div>

                    <div class="obj_block" id="7">
                        <div class="big_block">
                                <div class="statusbar">
                                    <!-- <input type="checkbox" class="element_activation"> -->
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                                    
                                    <div class="obj_name">ВРК №2</div>
                                    <div class="elem_status_led"></div>
                                    <button class="element_status"> Старт </button>
                                </div>

                                <div class="type_container  disable">
                                    <div class="img_stat angle_img_azi">
                                        <div class="real_value" id="real_angle">0</div>
                                    </div>
                                    <div class="obj_param">
                                        <div class="title_text">Угол (от -360 до 360)</div>

                                        <input class="set_value set_angle_value" type="number" value="0" step="10">
                                        <button class="confirm_but confirm_angle_but">Установить</button>

                                        <button class="step_angle_minus step_math small_but">-</button>                                        
                                        <button class="step_angle_plus step_math small_but">+</button>
                                        
                                        <button class="step_angle_first step_but step_1 step_but_active small_but ">1</button>
                                        <button class="step_angle_second step_but step_1 small_but">5</button>
                                        <button class="step_angle_third step_but step_1 small_but">10</button>

                                        <button class="zero_but">Обнулить</button>

                                    </div>
                                </div>
                                <div class="type_container  motor disable">
                                    <div class="img_stat rpm_img direction_img">
                                        <div class="direction_text">Направление вращения</div>
                                        <img src="./static/img/Стрелка_12.png" alt="против часовой" class="backward_but dir_but left">
                                        <img src="./static/img/Стрелка_11.png" alt="по часовой" style="background: white; box-shadow: rgb(108 255 243) 0px 0px 5px;" class="forward_but dir_but right">
                                        <div class="real_value rel_val" id="real_rpm">0</div>
                                        <div class="value_name">об/мин</div>

                                        <!-- <button class="forward_but dir_but small_but">Вперёд</button>
                                        <button class="backward_but dir_but small_but">Назад</button> -->
                                        </div>
                                        
                                        <div class="obj_param">

                                        <div class="title_text">Обороты (0-2000 об/мин)</div>

                                        <input class="set_value set_rpm_value" type="number" value="0" step="10" min="0" max="2100">
                                        <button class="confirm_but confirm_rpm_but">Установить</button>

                                        <button class="step_rpm_minus step_math step_mathsmall_but">-</button>
                                        <button class="step_rpm_plus step_math small_but">+</button>

                                        <button class="step_rpm_first step_but step_2 step_but_act2 small_but">10</button>
                                        <button class="step_rpm_second step_but step_2 small_but">50</button>
                                        <button class="step_rpm_third step_but step_2 small_but">100</button>

                                        <div class="real_value rel_val" id="moment">0</div>
                                        <div class="value_name">M</div>
                                        <div class="real_value rel_val" id="force">0</div>
                                        <div class="value_name">F</div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>

                <div class="big_block">
                    <div class="obj_block" id="5">
                        <div class="statusbar">
                            <!-- <input type="checkbox" class="element_activation"> -->
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                            </input>
                            <div class="obj_name"> ДУ №3</div>
                            <div class="elem_status_led"></div>
                            <button class="element_status"> Старт </button>
                        </div>

                        <div class="type_container disable">
                            <div class="img_stat direction_img">
                                <div class="direction_text">Направление вращения</div>
                                <img src="./static/img/Стрелка_12.png" alt="против часовой" class="backward_but dir_but left">
                                <img src="./static/img/Стрелка_11.png" alt="по часовой" style="background: white; box-shadow: rgb(108 255 243) 0px 0px 5px;" class="forward_but dir_but right">
                                <div class="real_value rel_val">0</div>
                                <div class="value_name">об/мин</div>

                                <!-- <button class="forward_but dir_but small_but">Вперёд</button>
                                <button class="backward_but dir_but small_but"> Назад</button> -->
                            </div>
                            <div class="obj_param">
                                <div class="title_text">Обороты (0-2000 об/мин)</div>                                    
                                    
                                <input class="set_value" type="number" value="0" step="10">
                                <button class="confirm_but">Установить</button>

                                <button class="step_minus step_math small_but">-</button>
                                <button class="step_plus step_math small_but">+</button>
                                
                                <button class="step_first step_but small_but step_but_active">10</button>
                                <button class="step_second step_but small_but">50</button>
                                <button class="step_third step_but small_but">100</button>
                                
                                <div class="real_value rel_val" id="moment">0</div>
                                <div class="value_name">M</div>
                                <div class="real_value rel_val" id="force">0</div>
                                <div class="value_name">F</div>
                            </div>
                        </div>
                    </div>     

                    <div class="obj_block" id="8">
                        <div class="big_block">
                                <div class="statusbar">
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                                    
                                    <div class="obj_name">ВРК №3</div>
                                    <div class="elem_status_led"></div>
                                    <button class="element_status"> Старт </button>
                                </div>

                                <div class="type_container  disable">
                                    <div class="img_stat angle_img_azi">
                                        <div class="real_value" id="real_angle">0</div>
                                    </div>
                                    <div class="obj_param">
                                        <div class="title_text">Угол (от -360 до 360)</div>

                                        <input class="set_value set_angle_value" type="number" value="0" step="10">
                                        <button class="confirm_but confirm_angle_but">Установить</button>

                                        <button class="step_angle_minus step_math small_but">-</button>                                        
                                        <button class="step_angle_plus step_math small_but">+</button>
                                        
                                        <button class="step_angle_first step_but step_1 step_but_active small_but ">1</button>
                                        <button class="step_angle_second step_but step_1 small_but">5</button>
                                        <button class="step_angle_third step_but step_1 small_but">10</button>

                                        <button class="zero_but">Обнулить</button>
                                        
                                    </div>
                                </div>
                                <div class="type_container  motor disable">
                                    <div class="img_stat rpm_img direction_img">
                                        <div class="direction_text">Направление вращения</div>
                                        <img src="./static/img/Стрелка_12.png" alt="против часовой" class="backward_but dir_but left">
                                        <img src="./static/img/Стрелка_11.png" alt="по часовой" style="background: white; box-shadow: rgb(108 255 243) 0px 0px 5px;" class="forward_but dir_but right">
                                        <div class="real_value rel_val" id="real_rpm">0</div>
                                        <div class="value_name">об/мин</div>

                                        <!-- <button class="forward_but dir_but small_but">Вперёд</button>
                                        <button class="backward_but dir_but small_but">Назад</button> -->
                                        </div>
                                        
                                        <div class="obj_param">

                                        <div class="title_text">Обороты (0-2000 об/мин)</div>

                                        <input class="set_value set_rpm_value" type="number" value="0" step="10" min="0" max="2100">
                                        <button class="confirm_but confirm_rpm_but">Установить</button>

                                        <button class="step_rpm_minus step_math step_mathsmall_but">-</button>
                                        <button class="step_rpm_plus step_math small_but">+</button>

                                        <button class="step_rpm_first step_but step_2 step_but_act2 small_but">10</button>
                                        <button class="step_rpm_second step_but step_2 small_but">50</button>
                                        <button class="step_rpm_third step_but step_2 small_but">100</button>

                                        <div class="real_value rel_val" id="moment">0</div>
                                        <div class="value_name">M</div>
                                        <div class="real_value rel_val" id="force">0</div>
                                        <div class="value_name">F</div>

                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <script type="text/javascript" src="static/main.js"></script> -->
    <script type="module" src="./static/arctic.js"></script>
    <script>
        var temer = 0;
        function rangeSlider(value){
            // var nowTime = getTime()
            document.getElementById('value').innerHTML = value;
            // server.range_slider(value);
        }
    </script>
    
</body>
</html>