<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./static/style/reset.css">
    <link rel="stylesheet" type="text/css" href="./static/style/main_new.css">
    <title>Trionix_OS</title>
    <script type="text/javascript" src="./static/js/roslib.min.js" ></script>
    <script type="text/javascript" src="./static/js/joy.js"></script>
    <script type="text/javascript" src="./static/js/main_test.js"></script>
</head>
<body>
    <div class="video_stream">
        <img id="videoImage" src="http://192.168.1.100:8090/?action=stream" >  
        <!-- hide on stop -->
    </div>
    <div id="rotate">Поверните устройство!</div>
    <div class="start_menu">
        Start
    </div>
    <div class="sidebar">
        <ul>
        <li><a href="#">Главная</a></li>
        <li><a href="#">О нас</a></li>
        <li><a href="#">Услуги</a></li>
        <li><a href="#">Контакты</a></li>
        </ul>
        </div>
        <div class="content">
        <h1>Основной Контент</h1>
        <p>Здесь размещается основной контент страницы.</p>
        </div>
        <script src="scripts.js"></script>
    
</body>
</html>