html,
body {
    font-family: "Calibri", sans-serif;

    width: 100wh;
    height: 100vh;
    margin: 0;
    padding: 0;

    background-color: rgb(var(--dark-gray));
}

#main {
    width: 100wh;
    height: 100vh;
}