html {
    background-color: #333333;
}

:root {
    --gray: #34495e;
    --darkgray: #2c3e50;
}

* {
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: "Calibri", sans-serif;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* position: absolute; */
}

#settings_grid_base {
    display: grid;
    grid-template-columns: 22% 54% 22%;
}

#configEditorForm {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.setting_buttons {
    display: flex;
    width: 80%;
    margin: 3vh 10%;
    position: absolute;
    bottom: 3%;
}

.settings_load {
    display: block;
    position: relative;
    border: solid blue;
    border-radius: 15px;
    padding: 2vh 1vw;
    font-size: 1.8em;
    font-weight: bold;
    color: #fff;
    /* width: 14vw; */
    /* left: 20px; */
}

.settings_save {
    display: block;
    position: relative;
    border: solid blue;
    background-color: blue;
    border-radius: 15px;
    padding: 2vh 1vw;
    font-size: 1.8em;
    font-weight: bold;
    color: #fff;
    margin-left: auto;
}

.button_set {
    cursor: pointer;
}

.button_set:hover:active {
    box-shadow: 0 9px rgba(108, 153, 250, 0.25),
        0 6px 0 0 rgba(59, 88, 88, 0.65),
        0 6px 0 rgba(89, 126, 131, 0.1);
}