<?xml version="1.0"?>
<launch>
	<!-- <machine name="trion" address="192.168.1.100" user="admin" timeout="10" password="admin" env-loader="~/trionix/env.sh" />
	 <node machine="trion" pkg="usb_cam" type="usb_cam_node" name="cam_1">
		<param name="video_device" type="string" value="/dev/video0" />
		<param name="image_width" type="string" value="640" />
		<param name="image_height" type="string" value="420" />
	</node>	-->

	
	
	<node pkg="trionix_web" type="web_control.py" name="web_control" output="screen">
		
	</node>

	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" > 
		<arg name="port" value="9090"/>
		<arg name="address" value="0.0.0.0"/>
	</include>  

    <!-- <node pkg="ocam_driver" type="ocam_driver_node" name="camera" output="screen">
           <param name="device"  value="/dev/video2"/>
    	   <param name="trigger" value="false"/>
 	   <param name="format" value="Motion-JPEG 1920 x 1080 30 fps"/>
  	</node> -->

  	<!-- <node name="repub" pkg="image_transport" type="republish" args="compressed in:=/image_raw raw out:=image" output="log"/> -->

</launch>
