<?xml version="1.0"?>
<launch>
	
	<node pkg="trionix_web" type="web_control.py" name="web_control" output="screen"></node>
	<node pkg="trionix_web" type="web_photo_server.py" name="web_photo_server" output="screen"></node>

	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" > 
		<arg name="port" value="9090"/>
		<arg name="address" value="0.0.0.0"/>
	</include>  



</launch>
