html{
    /* border: 3px solid red; */
    width: 100%;
    height: 100%;
    background-color: #1d1d1d;
}

:root {
  /* --background-gradient: linear-gradient(178deg, #ffff33 10%, #3333ff); */
  --gray: #34495e;
  --darkgray: #2c3e50;
}

a {
  text-decoration: none;
}

* {
    -webkit-tap-highlight-color: transparent;
  }

body{
    font-family: 'Calibri', sans-serif;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
    /* position: absolute; */
}

.video_stream{
    /* border: 3px solid rgb(7, 7, 7); */
    position: absolute;
    /* height: 100%;
    width: 100%; */
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* background-color: aqua; */
}

.container{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* background-color: #c9c8c8; */

}

::-webkit-scrollbar {
  width: 0;
}

/* ########   rotation   ######## */

#rotate{
    position: absolute;
    color: rgb(175, 175, 175);
    font-weight: bold;
    top: 40vh;
    font-size: 3em;
    z-index: 5;
    text-align: center;
    padding: 0 5vw;
}

/* (A) WRONG ORIENTATION - SHOW MESSAGE HIDE CONTENT */
@media only screen and (orientation:portrait) {
    #rotate { display: block;
              position: absolute;}
    .container{display: none;}
  }
   
/* (B) CORRECT ORIENTATION - SHOW CONTENT HIDE MESSAGE */
@media only screen and (orientation:landscape) {
    #rotate { display:none; }
    .container{ display: block;}
}


/* ####### START_MENU ############ */

.start_menu{
  /* position: absolute; */
  background-color: aqua;
  position: fixed;
  inset: 0px;
  width: 30vw;
  height: 40vh;
  /* max-width: 100vw; */
  /* max-height: 100dvh; */
  margin: auto;
  align-content: center;
}







/* styles.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  }
  .sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: #fff;
  padding-top: 20px;
  transition: width 0.3s;
  }
  .sidebar ul {
  list-style-type: none;
  padding: 0;
  }
  .sidebar ul li {
  padding: 10px;
  text-align: center;
  }
  .sidebar ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  }
  .sidebar ul li a:hover {
  background-color: #575757;
  }
  .content {
  margin-left: 250px;
  padding: 20px;
  width: 100%;
  transition: margin-left 0.3s;
  }
  /* Адаптивный дизайн */
  @media screen and (max-width: 768px) {
  .sidebar {
  width: 200px;
  }
  .content {
  margin-left: 200px;
  }
  }
  @media screen and (max-width: 480px) {
  .sidebar {
  width: 150px;
  }
  .content {
  margin-left: 150px;
  }
  }

